html 
{ 
    background-color: blanchedalmond;
}
body 
{ 
    background-color: rgb(233, 206, 175);
    width: 1000px;
    color: black;
    margin:auto
} 
header
{ 
   width: inherit; 
   height: 300px;
   background:inherit;
   color:rgb(184, 11, 97);}
   
   figure
{ 
margin-bottom: 5px;
margin-top: 15px;
margin-left: 80px;

}
 h2 { 
    color: rgb(27, 6, 46);
    text-decoration: underline;
    font-size: xx-large;
    
}
p {
    border: 2px solid black;
}
nav {
    height: 40px;
    margin-bottom: 10px;
    margin-left:50px;
    text-align: center;
   float: unset;

}

a {
    width: 170px;
    height: 30px;
    float: left;
    background-color: rgb(175, 3, 61);
    color: blanchedalmond;
    text-decoration: none;
    margin-top: 2px;
    margin-right: 5px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 1.1em;
    border-color: rgb(175, 88, 131);
    border-radius: 50px;
   

}

a:hover { 
    color: black;
}
form { 
    display: flex;
    flex-direction: column;
    background-color:rgb(175, 3, 61) ;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin-left: 150px;
    margin-right: 150px;
}
label { 
margin-bottom: 6px;

}
input { 
    margin-bottom: 5px;
    padding: 5px;
    outline:0;
    border: 1px solid rgb(0,0,0,4);
}
input:focus { 
    border: 1px solid rgb(138, 64, 78);
}
input[type="submit"]{ 
margin-top: 15px;
background-color: rgb(231, 46, 133);    
color: blanchedalmond;
border: 1px solid  rgb(245, 178, 209);
cursor: pointer;
}










